@import '/src/styles/variables';
@import '/src/styles/mixins';

.menu-category {
  margin-top: 30px;

  &__title {
    font-weight: 700;
    font-size: 20px;
    color: #444444;
  }

  &__list-container {
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  &__list {
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 35px;
    margin-right: 35px;
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    width: 120px;
    transition: 0.2s;

    &:not(&--selected):hover {
      background-color: #fffcfc;
      border-color: #ffeed9;
    }

    &--selected {
      border-color: $normal-orange;
      background-color: #fffcfc;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    margin-top: 20px;
    text-align: center;
  }
}
