html, body, #root {
/*  height: 100%;
  font-family: 'Poppins', sans-serif;*/
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}