@import '/src/styles/variables';

.left-arrow {
  position: absolute;
  left: -30px;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 249, 251);
  background: linear-gradient(
    90deg,
    rgba(250, 249, 251, 1) 51%,
    rgba(250, 249, 251, 0.7679665616246498) 85%,
    rgba(250, 249, 251, 0) 100%
  );
  cursor: pointer;
  color: $normal-orange;
  z-index: 1;
  font-size: 30px;
}
