.back-first-step {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  color: #454545;
  background-color: transparent;
  border: 0;
  transition: 0.2s;

  &:hover {
    color: #787878;
  }

  &__icon {
    margin-right: 10px;
  }
}
