.general-menu {
  width: 445px;
  background-color: #ffffff;
  height: 100%;
  position: sticky;

  &__order-menu-step {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 30px;

    &--first {
      right: 100%;
    }

    &--last {
      right: -100%;
    }
  }
}
